.DS_Store
node_modules

.cache
.vercel
.output

public/build
api/build

# Env variables
.env

# dotenv-linter
bin/dotenv-linter

# Docker
.docker

# Videos
src/prisma/seed-data/interactions/*.mp4
src/prisma/seed-data/interactions/*.gif
src/prisma/seed-data/interactions/*.webm
